:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #FAFCC2;     /*  FAFCC2 changes the background color of the site in all the pages except home page*/
    --entry: #5AA469;   /* This changes the Post background in the homepage */
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --hljs-bg: #1c1d21;
    --code-bg: #5AA469;  /* This changes the home page color as well as color of the code section background*/
    --border: #428a51;
    --share-button:#5AA469;

}

.dark {
    --theme: #5AA469;
    --entry: #386441;
    --primary: black;
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(0, 0, 0, 0.99);
    --hljs-bg: #2e2e33;
    --code-bg: #437a4e;
    --border: #386441;
    --share-button:#386441;
    --share-fill:#FAFCC2
}

.list {
    background: var(--theme);     
}

.dark.list {
    background: var(--theme);
}
