{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h2>{{ .Title | markdownify }}</h2>
    </header>
    <section class="entry-content">
        <h3>Welcome to Avi's ♥️</h3>
        <br>
        <p style="font-weight:bold">A space where we share stories about the things we do 🚀, read 📚 and experience 🥰 in life!</p>
        <p style="font-weight:bold"><em>"Great stories happens to those who can tell them!"</em>. So, let's make some great stories to happen 💖</p>
    </section>
</article>
{{- end -}}
