{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h2>{{ .Title | markdownify }}</h2>
    </header>
    <section class="entry-content">
        <h4>Welcome to Avi's - A space where we share stories about the things we do 🐱‍🏍, read 📚 and experience 🥰 in life!</h4>
        <p> </p>
        <p> </p>
        <h4>Ira Glas said "Great Stories happens to those who can tell them". Let's Make some great stories to happen 💖</h4>
    </section>
</article>
{{- end -}}
